<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">

  <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
  <springProperty scope="context" name="APP_LOG_HOME" source="app.log.home"
    defaultValue="/data/java/log"/>

  <springProperty scope="context" name="APP_APP_NAME" source="app.app.name"
    defaultValue="qt-asia"/>

  <!-- 控制台输出 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 -->
  <appender name="APP_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${APP_LOG_HOME}/${APP_APP_NAME}/${APP_APP_NAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <FileNamePattern>${APP_LOG_HOME}/${APP_APP_NAME}/backup/${APP_APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!--日志文件保留天数-->
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!-- error级别日志配置 -->
  <appender name="APP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${APP_LOG_HOME}/${APP_APP_NAME}/${APP_APP_NAME}_error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${APP_LOG_HOME}/${APP_APP_NAME}/backup/${APP_APP_NAME}_error.%d{yyyy-MM-dd}.log</FileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder charset="UTF-8">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <logger name="org.springframework" level="WARN" addtivity="true"/>
  <logger name="com.mu.mc" level="DEBUG" addtivity="true"/>
  <logger name="com.mu.mc.dao.mapper" level="DEBUG" addtivity="true"/>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="APP_INFO"/>
    <appender-ref ref="APP_ERROR"/>
  </root>

</configuration>

